{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            <div>
                <h1><span>Welcome to</span> Dinosaur Park</h1>
            </div>
        </div>
    </div>
{% endblock %}
