.container {
    max-width: 80rem;
}

.header {
    background: #f4f5f6;
    border-bottom: 1px solid #636363;
    text-align: center;
}

.button-alarm {
    background: #cb4e56;
    border-color: #cb4e56;
}
